/* Header */
h1 {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    text-align: center;
    font-size: large;
}

/* Subheader */
h3 {
    font-family: "Courier New", Courier, monospace;
    font-size: medium;
    text-align: left;
}

/* Image */
.info img {
    max-width: 150px; 
    height: auto; 
    border-radius: 10px; 
}

/* Container */
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.text-container {
    text-align: left;
    margin: 0 auto;
    width: fit-content; 
}

ul.list-unstyled {
    padding-left: 0;
    list-style-position: outside;
}

ul.list-unstyled li {
    display: flex; 
    align-items: baseline;
    margin-bottom: 10px; 
}

ul.list-unstyled li strong {
    min-width: 120px; 
    flex-shrink: 0; 
}

ul.list-unstyled li span {
    flex-grow: 1; 
}
