/* Main toolbar styling */
.toolbar {
    display: flex;
}

.toolbar input {
    margin: 5px;
    font-size: 15px;
    background:transparent;
    border: 0;
}

.file-action-bar {
    display: flex;
    background:lightblue;
}

.file-action-element {
    margin: 5px;
    font-size: 15px;
}

/* misc */
.gen-header {
    background: lightblue;
    padding:0;
    margin:0;
    border: 0;
}

.file-action {
    font-size: 18px;
    height:20%;
    margin-left:25px;
}

/* File styling */ 

table {
    width: 100%;
    table-layout: fixed;
}

th, td {
    font-size: 20px;
    width: 33%;
    padding: 10px;
    text-align: left;
    word-wrap: break-word;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

label {
    cursor: pointer;
}